#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type='text'] {
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  font-size: 1em;
  transition: border-color 0.25s;
}
